@media (max-width:700px) {


    #main-home{
        position:fixed;
         left: 95%;
        bottom:10px;
          
        }
    nav span {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        width: 250px;
        right: -300px;
        top: 0;
        height: 100%;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }

    .nav-menu ul li {
        display: block;
        margin: 10px 0;
        padding-left: 30px;
    }

    .discription-row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    
   

   
    

    .about-me {
        background-color: antiquewhite;
            width: 98%;
            margin:10px auto;
            padding-top: 3%;
    }

    .about-me .row {
        flex-direction: column;
        margin-top: 30px;
        padding-bottom: 3%;
    }


    .about-me-col img {
        border: 1px solid black;
        position: relative;
        left: 20%;

    }

    .about-me-col p {
        padding-top: 15px;

    }



    .skill-row {
        flex-direction: column;

    }

    .skill {
        margin-top: 5%;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

.service-row{
    flex-direction: column;
}
.portfolio-row{
    flex-direction: column;

}
.portfolio-col{
    width: 100%;
}
.testimonial-row{
    flex-direction: column;
}
.footer-row{
    flex-direction: column;
}
.footer-col{
padding-bottom: 3%;
}
.footer-col ul{
    margin-bottom: 10%;
}
.footer-col h2 {
    padding-bottom: 0;
}
.footer-col ul li {
   padding: 0;
   margin-top: 10px;
   text-align: center;
   
}
.footer-col ul li a{
    font-size: 12px;
    
    text-align: center;
}
.footer-col ul li a:hover{
    color: white;
    font-size: 15px;
}

}
@media (max-width:467px){
body{
    position: sticky;
}
.skill-col table th,tr,td{
 font-size: 50%;
 flex-basis: 100vw;
}
}
